body {
    font-family: Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #7dcc7f, #3dcc63, #2b9440);
}

.login-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    width: 80%;
    box-shadow: 0 0 17px 10px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    background: white;
}

.illustration-to-do {
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30rem;
}

.lab-img {
    width: 300px;
    height: 120px;
}

.buttons-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.buttoon {
    border: none !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.create-account {
    width: 30vw !important;
    border-radius: 10px !important;
}

.create-field {
    background: #088251;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
}

.create-field .create-input-text {
    background: none;
    border-radius: 10px !important;
    border: none !important;
    outline: none !important;
    width: 100%;
    height: 100%;
    color: white;
}

.create-field .create-input-text::placeholder {
    color: white;
}

.create-input-text .ui-selectonemenu-label {
    color: white;
}

.buttonsAccountContainer .done-create-button {
    color: white;
    background: #007BFF !important;
    border: none !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.buttonsAccountContainer .cancel-create-button {
    color: white;
    background: #DC3545 !important;
    border: none !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}